<div class='title-box'>
  <h1 style='font-size: 20px;'><%= @inventory.store.name %><br><div class="map-divider"></div></h1>
  <h2 style='fontsize: 18px;'><%= @inventory.store.address %></h2>
</div>

<%# <%= link_to(pages_search_path, class: "btn btn-flat") do %>
  <%# Find another bottle %>
<%# <% end %>

<div id="map"
     style="width: 100%; height: 480px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<div class="wine-cards result-map-div">
  <%= render 'shared/wine_card_result', inventory: @inventory %>
</div>

<div class = 'btn-article'>
  <%= link_to(recommendations_path(
      address: params[:address],
      color: params[:color],
      food_id: params[:food_id],
      price: params[:price],
      quantity: params[:quantity]),
      class: "btn btn-flat map-return-btn",
      id: "results-button") do %>
      Back To Results
    <% end %>
</div>
