<h1><%= @wine.name %></h1>


      <ul>
        <li>Price: <%= humanized_money_with_symbol(@wine.price)  %></li>
        <li>Color: <%= @wine.color %></li>
        <li>Rating: <%= @wine.rating %></li>
        <li>Region: <%= @wine.region %></li>
        <% @wine.foods.each do |food| %>
        <li>Food: <%= food.name %></li>
      </ul>

  <% end %>
  <%= link_to(map_path, class: "btn btn-flat") do %>
      Where is it
    <% end %>
