<div class='wine-card wine-card-small d-flex flex-row '>
  <%# Image %>
  <div class='img-box d-flex justify-content-center align-items-center'>
    <img src=<%= wine.image_url %>  alt="bottle image" >
  </div>

  <%# Attributes %>
  <div class='d-flex flex-column' style="width:100%">

    <%# title %>
    <div class='title-box d-flex justify-content-center align-items-center' style='width:100%'>
      <p><%= wine.name %></p>
    </div>

    <%# Information %>
    <div class='wine-info d-flex flex-column '>
      <%# color %>
      <div class='d-flex flex-row'>
        <p class='tag'>Color:</p>
        <p class='content'><%= wine.color %></p>
      </div>

      <%# Region %>
      <div class='d-flex flex-row'>
        <p class='tag'>Origin:</p>
        <p class='content'><%= wine.origin %></p>
      </div>
    </div>

    <%# Price & rating %>
    <div class='d-flex flex-row' style='width:100%;'>
      <%# Price %>
      <div class='price-box d-flex justify-content-center align-items-center'>
        <p><%= humanized_money_with_symbol(wine.price) %></p>
      </div>
      <%# rating %>
      <%= render 'shared/wine_card_rating', wine_rating: wine.rating, alignment: 'justify-content-center' %>
    </div>
  </div>
</div>
