<div class='d-flex flex-row wine-card-small'>

    <%# Image %>
    <div class='img-box d-flex justify-content-center align-items-center'>
      <img src=<%= wine.image_url %>  alt="bottle image" >
    </div>

    <%# Attributes %>
    <div class='d-flex flex-column' style="width:100%">

      <%# title %>
      <div class='d-flex justify-content-center align-items-center title-box' style='width:100%'>
        <p><%= wine.name %></p>
      </div>

      <%# Information %>
      <div class='d-flex flex-column wine-info'>
        <%# color %>
        <div class='d-flex flex-row'>
          <p class='tag'>Color:</p>
          <p class='content'><%= wine.color %></p>
        </div>

        <%# Region %>
        <div class='d-flex flex-row'>
          <p class='tag'>Origin:</p>
          <p class='content'><%= wine.origin %></p>
        </div>
      </div>

      <%# Price & rating %>
      <div class='d-flex flex-row' style='width:100%;'>
        <%# Price %>
        <div class='price d-flex justify-content-center align-items-center'>
          <p><%= humanized_money_with_symbol(wine.price) %></p>
        </div>
        <%# rating %>
        <div class='d-flex justify-content-center align-items-center flex-grow-1'>
          <% rating = 5.00 * wine.rating / 100 %>
          <% remainder = rating % 1 %>

          <% if remainder < 0.5 %>
            <% rating -= remainder %>
          <% else %>
            <% rating += 1 - remainder %>
          <% end %>

          <% yellow_stars = rating.to_i %>
          <% yellow_stars.times do%>
            <i class="fas fa-star star_yellow"></i>
          <% end %>

          <% grey_stars = 5-rating.to_i %>
          <% grey_stars.times do%>
            <i class="fas fa-star star_grey"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>
