<%# Temporary grape variety and alcohol level values %>
<% wine.grapes = 'some fancy schmancy grapes' %>
<% wine.alcohol = 14 %>
<% wine.origin = 'France, Sud-Ouest, Pyrénées/Gascogne' %>


<div class='wine-card wine-card-large d-flex flex-column '>
  <%# title %>
  <div class='title-box d-flex justify-content-center align-items-center' style='width:100%'>
    <p><%= wine.name %></p>
  </div>

  <%# image %>
  <div class='img-box d-flex justify-content-center align-items-center'>
    <img src=<%= wine.image_url %>  alt="bottle image" >
  </div>

  <%# attributes %>
  <div>
    <%# price and rating %>
    <div class='d-flex flex-row' style='width:100%; padding-right:8px;'>
      <%# Price %>
      <div class='price-box d-flex justify-content-center align-items-center'>
        <p><%= humanized_money_with_symbol(wine.price) %></p>
      </div>
      <%# rating %>
      <%= render 'shared/wine_card_rating', wine_rating: wine.rating, alignment: 'justify-content-end' %>
    </div>

    <%# Information %>
    <div class='wine-info d-flex flex-column '>
      <%# color %>
      <div class='d-flex flex-row'>
        <p class='tag'>Color:</p>
        <p class='content'><%= wine.color %></p>
      </div>

      <%# Region %>
      <div class='d-flex flex-row'>
        <p class='tag'>Origin:</p>
        <p class='content'><%= wine.origin %></p>
      </div>

      <%# Grape variety %>
      <div class='d-flex flex-row'>
        <p class='tag'>Grapes:</p>
        <p class='content'><%= wine.grapes %></p>
      </div>

      <%# Alcohol level %>
      <div class='d-flex flex-row'>
        <p class='tag'>Alcohol level:</p>
        <p class='content'><%= "#{wine.alcohol}%" %></p>
      </div>

      <div class='d-flex flex-row justify-content-between'>
        <p class='tag'>x units in stock</p> <%# Needs proper variable %>
        <p class='tag'>y km distance</p>  <%# Needs proper variable %>
      </div>
    </div>

    <%# Find bottle CTA %>
    <div class='find-box d-flex align-items-center justify-content-center'>
      <%= link_to('Find bottle', map_path, class: 'btn') %>
    </div>

  </div>

</div>
