<div class="article-image">
  <%= image_tag ("article_image_2.jpg"), style:"height: 200px" %>
</div>
<div class="article-content">
  <div class="article-section-1">
    <h1>The art of pairings</h1>
    <p>From entrées to desserts, from meat to shellfish, from French cuisine to Asian, food and
    wine pairings are as varied as cuisine is nuanced.
    Though the golden rule is to have fun above all, some basic
    pointers in the art of pairing can bring out hitherto undetected nuances in both
    your dishes and in your wine.<br><br>
    Let us introduce you to the art of harmony,
    first with the aromatic profile and intensity of the wine, and then with the nature
    of the food and its preparation. Learn the basic rules and let your creativity go.</p>
    <div>
      <%= link_to(pages_search_path, class: "btn btn-flat btn-article") do %>
        Find Your Wine
      <% end %>
    </div>
    <div class="article-divider"></div>
  </div>
  <div>
    <h2>Red Wine</h2>
    <p>In general, the more intense and tasty a dish is, the stronger a wine should be. To accompany game or lamb, for instance, a full-bodied wine will do. Lighter wines will harmonize with foods of similar intensity, such as white meats, poultry, pasta with tomato or rosée sauces, and fish, such as salmon. Medium-bodied wines are versatile. The more fruity ones will harmonize with pasta and meat sauce, and sausages; others, with a more woody, spicy profile, will bring out the best in grilled beef and semi-strong cheeses.</p>
    <div>
      <%= link_to(pages_search_path, class: "btn btn-flat btn-article") do %>
        Find Red Wine
      <% end %>
    </div>
    <div class="article-divider"></div>
  </div>
  <div>
    <h2>White Wine</h2>
    <p>Certain flavours round each other out to perfection. The successful food and wine pairer will consider the dominant flavour of the dish they are serving the white wine with. Light wines with good acidity, for instance, bring out the best in shellfish, shrimp and lean fish, while rounder, fat-textured, more intense wines harmonize with dishes in cream sauce, or baked Brie. Dishes seasoned with fruit, lemongrass or ginger, or slightly sweet dishes, will be enhanced with a wine with residual sugar.</p>
    <div>
      <%= link_to(pages_search_path, class: "btn btn-flat btn-article") do %>
        Find White Wine
      <% end %>
    </div>
    <div class="article-divider"></div>
  </div>
  <div>
    <h2>Rosé</h2>
    <p>When they’re light and fruity, rosés are the ideal aperitif. They’re also good with fish or shellfish, salads, or pastas with a light, fresh sauce. More generous, affirmative rosés go splendidly with more substantial dishes like salmon, veal or pork. Sweet, fruity wines, delicious as aperitifs, go well with white meats, poultry and fish with sweet-and-sour or fruit sauces.</p>
    <div>
      <%= link_to(pages_search_path, class: "btn btn-flat btn-article") do %>
        Find Rosé Wine
      <% end %>
    </div>
  </div>
</div>
