<%# Title box %>
<div class='page-title-box'>
  <h1 style='font-size: 24px;'>Tell us a bit more about what you’re looking for</h1>
</div>

<div class='container mt-2'>
  <form action="/recommendations" method="Get" id="form1">
  <div class="form-group" style="margin-top: 20px";>
    <%# Address %>
    <label for="bottle_search">Where is the bottle needed? </label>
    <input  type="search" name='address' class="form-control mb-2" id="bottle_search" placeholder="5333, avenue casgrain, montreal">

    <%# Food type %>
    <label class='mb-1'>What are you eating?</label>
    <%= select_tag "food_id", options_from_collection_for_select(Food.all, "id", "name", @defaut_food_id), include_blank: false, class:"form-control mb-2" %>

    <%# budget %>
    <label class='mb-1' for="exampleFormControlSelect2">What is your maximum budget?</label>
    <select id="price" name="price" class="form-control mb-2" id="exampleFormControlSelect2">
      <option label="15" <%= params[:price]=="15" ? "selected" : "" %> >15</option>
      <option label="20" <%= params[:price]=="20" ? "selected" : "" %> >20</option>
      <option label="25" <%= params[:price]=="25" ? "selected" : "" %> >25</option>
      <option label="30" <%= params[:price]=="30" ? "selected" : "" %> >30</option>
      <option label="35" <%= params[:price]=="35" ? "selected" : "" %> >35</option>
      <option label="40" <%= params[:price]=="40" ? "selected" : "" %> >40</option>
      <option label="45" <%= params[:price]=="45" ? "selected" : "" %> >45</option>
      <option label="50" <%= params[:price]=="50" ? "selected" : "" %> >50</option>
    </select>

    <label for="exampleFormControlSelect3">What wine color are you looking for?</label>
    <select id="color" name="color" class="form-control" id="exampleFormControlSelect3">
      <option label="Red" <%= params[:color]=="red" ? "selected" : "" %>>red-wine</option>
      <option label="White" <%= params[:color]=="white-wine" ? "selected" : "" %>>white-wine</option>
      <option label="Rosé" <%= params[:color]=="rose" ? "selected" : "" %>>rose</option>
    </select>

    <%# bottle count %>
    <label class='mb-1' for="exampleFormControlSelect4" style="padding-top: 8px";>How many bottles do you want?</label>
    <select id="quantity" name="quantity" class="form-control mb-2" id="exampleFormControlSelect4">
      <option label="1" <%= params[:quantity]=="1" ? "selected" : "" %> >1</option>
      <option label="2" <%= params[:quantity]=="2" ? "selected" : "" %> >2</option>
      <option label="3" <%= params[:quantity]=="3" ? "selected" : "" %> >3</option>
      <option label="4" <%= params[:quantity]=="4" ? "selected" : "" %> >4</option>
      <option label="5" <%= params[:quantity]=="5" ? "selected" : "" %> >5</option>
      <option label="6" <%= params[:quantity]=="6" ? "selected" : "" %> >6</option>
      <option label="7" <%= params[:quantity]=="7" ? "selected" : "" %> >7</option>
      <option label="8" <%= params[:quantity]=="8" ? "selected" : "" %> >8</option>
      <option label="9" <%= params[:quantity]=="9" ? "selected" : "" %> >9</option>
    </select>
  </div>
  </form>

  <div class='btn-form'>
    <button class="btn" id="results-button" type="submit" form="form1" value="Search">
      Find Wine
    </button>
  </div>
</div>
